h1 {
    color: red;
    background-color: #00009c;
}

.hulk {
    color: green;
    font-size: 36px;
}

.post {
    height: 200px;
}

.post img {
    height: 150px;
}

.post:hover {
    background-color: #ddd;
}