<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social НЭТ</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link
        rel="stylesheet"
        href="{% static 'main.css' %}"
    >
</head>
<body>
    <div class="row">
        <div class="col-3">
            <a class="navbar-brand" href="/">
              <img src="{% static 'logo.png' %}" height="40px">
              Social NET
            </a>
            <div>
              {% if request.user.is_authenticated %}
                Привет, {{ request.user.username }}!
              {% else %}
                Пожалуйста, авторизуйтесь
              {% endif %}
            </div>
            <div class="my-focus">
              <a href="/">
                Главная
              </a> 
            </div>
            <div class="my-focus">
              <a href="{% url 'search' %}">
                Поисковый запрос
              </a>
            </div>
            <div class="my-focus">Интересное</div>
            <div class="my-focus">
              <a href="{% url 'shorts-list' %}">
                Shorts
              </a>
            </div>
          {% if request.user.is_authenticated %}
            <div class="my-focus">Сообщения</div>
            <div class="my-focus">Уведомления</div>
            <div class="my-focus">
              <a href="{% url 'add-post' %}">
                Добавить пост
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'add-short' %}">
                Добавить short
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'profile' request.user.profile.id %}">
                Профиль
              </a>
            </div>
          {% else %}
            <div class="my-focus">
              <a href="{% url 'registration' %}">Регистрация</a>
            </div>
            <div class="my-focus">
              <a href="{% url 'sign-in' %}">Вход</a>
            </div>
          {% endif %}
        </div>
        <div class="col-9">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
          {% block content %}
            <h1>hello world</h1>
          {% endblock %}
        </div>
    </div>
    
    
</body>
</html>