<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social НЭТ</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link
        rel="stylesheet"
        href="{% static 'main.css' %}"
    >
</head>
<body>
    <div class="row">
        <div class="col-3">
            <a class="navbar-brand" href="/">
              <img src="{% static 'logo.png' %}" height="40px">
              Social NET
            </a>
            <div>
              {% if request.user.is_authenticated %}
                Привет, {{ request.user.username }}!
              {% else %}
                Пожалуйста, авторизуйтесь
              {% endif %}
            </div>
            <div class="my-focus">
              <a href="/">
                Главная
              </a> 
            </div>
            <div class="my-focus">
              <a href="{% url 'about' %}">
                О нас
              </a> 
            </div>
            <div class="my-focus">
              <a href="{% url 'faq' %}">
                FAQ
              </a> 
            </div>
            <div class="my-focus">
              <a href="{% url 'contacts' %}">
                Контакты
              </a> 
            </div>
            <div class="my-focus">
              <a href="{% url 'posts-list-cbv' %}">
                Посты
              </a> 
            </div>
            <div class="my-focus">
              <a href="{% url 'search' %}">
                Поисковый запрос
              </a>
            </div>
            <div class="my-focus">Интересное</div>
            <div class="my-focus">
              <a href="{% url 'shorts-list' %}">
                Shorts
              </a>
            </div>
          {% if request.user.is_authenticated %}
            <div class="my-focus">Сообщения</div>
            <div class="my-focus">
              <a href="{% url 'notifications-cbv' %}">
                Уведомления - 
                {{ request.user.notification_set.count }}
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'add-post' %}">
                Добавить пост
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'add-post-form' %}">
                Добавить пост (django-form)
              </a>
            </div>
            <div class="my-focus">
              <a href="{% url 'add-short' %}">
                Добавить short
              </a>
            </div>
            {% if request.user.profile %}
              <div class="my-focus">
                <a href="{% url 'profile' request.user.profile.id %}">
                  Профиль
                </a>
              </div>
            {% else %}
              <div class="my-focus">
                <a href="{% url 'add-profile' %}">
                  Добавить профиль
                </a>
              </div>
            {% endif %}
            <div class="my-focus">
              <a href="{% url 'sign-out' %}">Выход</a>
            </div>
          {% else %}
            <div class="my-focus">
              <a href="{% url 'registration' %}">Регистрация</a>
            </div>
            <div class="my-focus">
              <a href="{% url 'sign-in' %}">Вход</a>
            </div>
          {% endif %}
        </div>
        <div class="col-9">
          {% if messages %}
            <div class="messages">
                {% for message in messages %}
                  <div 
                    {% if message.tags %}
                      class="alert alert-{{ message.tags }}"
                    {% endif %}
                  >
                    {{ message }}
                  </div>
                {% endfor %}
            </div>
          {% endif %}
          {% block content %}
            <h1>hello world</h1>
          {% endblock %}
        </div>
    </div>
    
    
</body>
</html>