{% extends 'base.html' %}

{% block content %}
    <h2>Добавление поста</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <input class="form-control" type="text" name="post_name">
        </p>
        <p>
            <textarea class="form-control" name="description" cols="20" rows="5"></textarea>
        </p>
        <p>
            <input class="form-control" type="file" name="photo">
        </p>
        <button class="btn btn-warning">Сохранить</button>
    </form>
{% endblock %}