{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-success">
        Hello world
    </div>
    <h1>Test</h1>
    <div class="hulk">
        Это домашняя страница
    </div>
    <div>
        Текст 2
    </div>
    {{ name }} <a href="">hello</a>
    <a href="" class="hulk">hello</a><br>
    <a href="">hello</a>
    <div>
        <a href="/profile/{{ request.user.profile.id }}">
            Профиль {{ request.user.username }}
        </a>
    </div>

    <h2>Посты</h2>
    <ol>
    {% for post in posts %}
        <li>
            <a href="/posts/{{ post.id }}">
                {{ post.name }}
            </a>
        </li>
    {% endfor %}
    </ol>     

{% endblock %}