<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Социальная сеть</title>
        <link
            rel="stylesheet"
            href="{% static 'main.css' %}"
        >
    </head>
    <body>
        <a href="/">Главная</a> |
        <a href="{% url 'shorts-list' %}">Shorts</a>
        <!-- <a href="/shorts/">Shorts</a> -->
        <h1>
            Hello world
        </h1>
        <h1>Test</h1>
        <div class="hulk">
            Это домашняя страница
        </div>
        <div>
            Текст 2
        </div>
        {{ name }} <a href="">hello</a>
        <a href="" class="hulk">hello</a><br>
        <a href="">hello</a>
        <div>
            <a href="/profile/{{ request.user.profile.id }}">
                Профиль {{ request.user.username }}
            </a>
        </div>
        
        <h2>Посты</h2>
        <ol>
        {% for post in posts %}
            <li>
                <a href="/posts/{{ post.id }}">
                    {{ post.name }}
                </a>
            </li>
        {% endfor %}
        </ol>     
    </body>
</html>
