{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for short in shorts %}
            <div class="col">
                <a href="{% url 'shorts-info' short.id %}">
                    <div>
                        <video
                            class="custom-circle"
                            width="100px"
                            src="{{ short.video.url }}">
                        </video>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <hr>

    {% include 'includes/search_form.html' %}
    <h2>Посты</h2>
    {% for post in posts %}
        <div>
            <a href="{% url 'user-posts' post.creator.id %}">
                {{ post.creator.username }}
            </a>
        </div>
        <div>
            {% if post.photo %}
                <a href="{% url 'post-detail' post.id %}">
                    <img src="{{ post.photo.url }}" height="200px">
                </a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}   

{% endblock %}