{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}

<h2>Пост</h2>
{% if post.creator %}
    <div>
        Автор:
        <a href="{% url 'user-posts' post.creator.id %}">
            {{ post.creator.username }}
        </a>
    </div>
{% endif %}
<div>
    Заголовок: {{ post.name }}
</div>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" height="200px">
    {% endif %}
<div>
    Описание: {{ post.description }}
</div>
<div>
    Кол-во лайков: {{ post.likes }}
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <button name="like">Like</button>
    </form>
</div>
<p>
    {% if post in request.user.savedposts.post.all %}
        <div class="btn btn-info">Уже в сохраннённом</div>
    {% else %}
        <form action="/add-saved/" method="POST">
            {% csrf_token %}
            <input type="number" name="post_id" value="{{ post.id }}" hidden>
            <button class="btn btn-success">Добавить в Сохранённое</button>
        </form>
    {% endif %}
</p>
{% if request.user == post.creator %}
    <p>
        <a class="btn btn-success" href="{% url 'update-post' post.id %}">Изменить</a>
    </p>
    <p>
        <a class="btn btn-danger" href="{% url 'delete-post' post.id %}">Удалить</a>
    </p>
{% endif %}
<h3>Добавить комментарий</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn btn-info">Добавить</button>
</form>
<h4>Комментарии</h4>
{% for comment in comments %}
    <div>
        <b>{{ comment.created_by }}</b>
        {{ comment.comment_text }}

        {% if request.user == comment.created_by %}
            <a href="{% url 'comment-edit' comment.id %}">
                Изменить
            </a>
            <a href="{% url 'comment-delete' comment.id %}">
                Удалить
            </a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}