{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}

<h2>Пост</h2>
{% if post.creator %}
    <div>
        Автор:
        <a href="{% url 'user-posts' post.creator.id %}">
            {{ post.creator.username }}
        </a>
    </div>
{% endif %}
<div>
    Заголовок: {{ post.name }}
</div>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" height="200px">
    {% endif %}
<div>
    Описание: {{ post.description }}
</div>
<div>
    Кол-во лайков: {{ post.likes }}
</div>
<h3>Добавить комментарий</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn btn-info">Добавить</button>
</form>

{% endblock %}