{% extends 'base.html' %}

{% block content %}
    <h2>Short №{{ short.id }}</h2>
    <div>
        Автор: {{ short.user.username }}
    </div>
    <div>
        Добавлено: {{ short.created_at }}
    </div>
    <div>
        <video width="500" controls src="{{ short.video.url }}">
        </video>
    </div>
    <div>
        Кол-во просмотров: {{ short.views_qty }}
    </div>
    <div>
        Уникальные просмотры: {{ short.viewed_users.count }}
    </div>
    <div>
        Описание: {{ short.description }}
    </div>
    <a href="{% url 'update-short' short.id %}" class="btn btn-info">
        Изменить
    </a>
{% endblock %}